* {
  margin: 0;
  padding: 0;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.btn {
  margin-top: 32px;
  width: 218px;
  height: 50px;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff4bff), to(#8158a7));
  background-image: linear-gradient(#ff4bff, #8158a7);
  border: none;
  border-radius: 40px;
}

.fa-heart {
  margin-right: 7%;
  font-size: 25px;
}

.fa-heart:hover {
  background-image: pink;
}

.spinner {
  margin-top: 300px;
  width: 100px;
  height: 100px;
  position: absolute;
}

.spinner div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  border: 10px solid transparent;
  border-top-color: magenta;
  border-radius: 50%;
  -webkit-animation: spinnerone 4s linear;
          animation: spinnerone 4s linear;
}

.spinner div:nth-child(2) {
  border: 5px solid transparent;
  border-bottom-color: #ff76ff;
  -webkit-animation: spinnertwo 4s linear;
          animation: spinnertwo 4s linear;
}

.spinner div:nth-child(3) {
  border: 7px solid transparent;
  border-bottom-color: #4800bd;
  -webkit-animation: spinnerthree 4s ease 0.5s;
          animation: spinnerthree 4s ease 0.5s;
}

.rectangle:hover .fa-fonctio {
  color: #963beb;
}

.resto-container__title {
  margin-top: 60px;
  font-size: 25px;
  font-weight: 750;
}

.resto-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 70px;
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resto-container__inside {
  width: 89.6%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resto-container__card {
  height: 252px;
}

.resto-container__new-tag {
  width: 20%;
  height: 29px;
  background-color: lightgreen;
  color: darkgreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin-right: 20%;
  margin-left: 65%;
  margin-top: 13px;
}

.resto-container__img, #resto-container__img2 {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  border-radius: 20px 20px 0 0;
}

.resto-container__cards {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 64px;
}

.resto-container__card {
  width: 100%;
  background-color: lightgoldenrodyellow;
  margin-top: 18px;
  border-radius: 15px;
}

.card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 24px auto 14px;
}

.card__title .inner-title {
  width: 75%;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-main {
  width: 100%;
  height: 1479px;
}

.menu-image {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 175px;
  border-radius: 20px 20px 0 0;
}

.menu-image {
  width: 100%;
  height: 257px;
  position: absolute;
}

.container-menu {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: lightgrey;
  position: relative;
  margin-top: 223px;
  border-radius: 40px 40px 0 0;
}

.container-menu__inside {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 93.33%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-menu__title {
  font-family: 'Shrikhand', cursive;
  font-size: 30px;
  width: 100%;
  font-weight: 500;
  margin-left: 5px;
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-title__big {
  font-weight: 700;
}

.fa-heart {
  margin-right: 7%;
}

.container-menu__inner {
  margin-top: 35px;
  width: 100%;
}

.container-menu__title2 {
  margin-top: 47px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.underline-green {
  margin-top: 4px;
  width: 40px;
  height: 3px;
  background-color: lightseagreen;
}

.container-menu__group {
  margin-top: 14px;
}

.container-menu__element {
  width: 100%;
  height: 70px;
  background-color: white;
  border-radius: 20px;
  -webkit-animation: block-disp1 1s both;
          animation: block-disp1 1s both;
}

.anim-1 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.anim-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.anim-3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.anim-4 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.anim-5 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.anim-6 {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}

.anim-7 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.anim-8 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.anim-9 {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.container-menu__element--margin-top {
  margin-top: 15px;
}

.btn--menu {
  margin-top: 50px;
  margin-bottom: 83px;
}

.footer {
  margin-top: 83px;
  position: relative;
}

.entete {
  width: 100%;
  height: 63px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow {
  margin-right: 87%;
}

.logo {
  position: absolute;
}

.footer {
  width: 100%;
  height: 197px;
  background-color: grey;
  color: white;
  margin-top: auto;
}

.logo--small-white {
  margin-top: 27px;
  margin-left: 25px;
  fill: white;
  height: 18px;
}

ul {
  margin-top: 25px;
  margin-left: 25px;
  list-style: none;
}

li:nth-child(2), li:nth-child(3), li:nth-child(4) {
  margin-top: 11px;
  list-style: none;
}

.fa-utensils, .fa-link {
  margin-right: 12px;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.container-menu__element-1 {
  -webkit-animation: fadeIn 0.4s;
          animation: fadeIn 0.4s;
}

.container-menu__element-2 {
  -webkit-animation: fadeIn 0.8s;
          animation: fadeIn 0.8s;
}

.container-menu__element-3 {
  -webkit-animation: fadeIn 1.2s;
          animation: fadeIn 1.2s;
}

.container-menu__element-4 {
  -webkit-animation: fadeIn 1.6s;
          animation: fadeIn 1.6s;
}

.container-menu__element-5 {
  -webkit-animation: fadeIn 2s;
          animation: fadeIn 2s;
}

.container-menu__element-6 {
  -webkit-animation: fadeIn 2.4s;
          animation: fadeIn 2.4s;
}

.container-menu__element-7 {
  -webkit-animation: fadeIn 2.8s;
          animation: fadeIn 2.8s;
}

.container-menu__element-8 {
  -webkit-animation: fadeIn 3.2s;
          animation: fadeIn 3.2s;
}

.container-menu__element-9 {
  -webkit-animation: fadeIn 3.6s;
          animation: fadeIn 3.6s;
}

.container-menu__element-10 {
  -webkit-animation: fadeIn 4s;
          animation: fadeIn 4s;
}

.container-menu__element-11 {
  -webkit-animation: fadeIn 4.4s;
          animation: fadeIn 4.4s;
}

.container-menu__element-12 {
  -webkit-animation: fadeIn 4.8s;
          animation: fadeIn 4.8s;
}

.container-menu__element-13 {
  -webkit-animation: fadeIn 5.2s;
          animation: fadeIn 5.2s;
}

.container-menu__element-14 {
  -webkit-animation: fadeIn 5.6s;
          animation: fadeIn 5.6s;
}

@-webkit-keyframes block-disp1 {
  from {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes block-disp1 {
  from {
    -webkit-transform: translateX(600px);
            transform: translateX(600px);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes block-disp2 {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes block-disp2 {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes block-disp3 {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes block-disp3 {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes spinnerone {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1000deg);
            transform: rotate(1000deg);
  }
}

@keyframes spinnerone {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1000deg);
            transform: rotate(1000deg);
  }
}

@-webkit-keyframes spinnertwo {
  0% {
    -webkit-transform: rotate(1000deg);
            transform: rotate(1000deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes spinnertwo {
  0% {
    -webkit-transform: rotate(1000deg);
            transform: rotate(1000deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@-webkit-keyframes spinnerthree {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1000deg);
            transform: rotate(1000deg);
  }
}

@keyframes spinnerthree {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1000deg);
            transform: rotate(1000deg);
  }
}

.animation-1 {
  -webkit-animation: block-disp1  ease-in-out;
          animation: block-disp1  ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.animation-2 {
  -webkit-animation: block-disp2 ease-in-out;
          animation: block-disp2 ease-in-out;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.animation-3 {
  -webkit-animation: block-disp3 ease-in-out 4s;
          animation: block-disp3 ease-in-out 4s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.container-main {
  -webkit-animation: fade 4s linear;
          animation: fade 4s linear;
}

@media (min-width: 375px) {
  * {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  @font-face {
    src: url(fonts/Roboto-Regular.ttf);
    font-family: Roboto;
  }
  a {
    color: black;
    text-decoration: none;
  }
  .entete2 {
    width: 100%;
    height: 50px;
    background-color: #ebebeb;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .textlocalisation {
    font-size: 1em;
  }
  .fa-map-marker-alt {
    margin-right: 18px;
  }
  .container-res {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 43px;
    height: 287px;
  }
  .titre-reserver1 {
    font-size: 1em;
    font-weight: bold;
    width: 61%;
    text-align: center;
    margin-top: 44px;
  }
  .titre-reserver2 {
    font-size: 1em;
    width: 81%;
    margin-top: 22px;
    text-align: center;
  }
  .container-fonctio {
    margin-top: 52px;
    width: 89.6%;
    height: 14.29%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .titre-fonctio {
    font-size: 1.5em;
    font-weight: 600;
  }
  .rectangles {
    margin-top: 34px;
  }
  .rectangle {
    width: 327px;
    height: 73px;
    background-color: #d3d3d3;
    margin-left: 10px;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .rectangle--margin-top {
    margin-top: 24px;
  }
  .rond {
    width: 24px;
    height: 24px;
    background-color: #963beb;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    position: absolute;
    margin-left: -10px;
  }
  .instruction {
    margin-left: 34px;
  }
  .fa-fonctio {
    margin-right: 27px;
  }
  .resto-container__inside {
    width: 89.6%;
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */