.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    width: 218px;
    height: 50px;
    color: white;
    background-image: linear-gradient($color-secondary, $color-primary);
    border: none;
    border-radius: 40px;
    box-shadow: 4px 5px 15px rgb(148, 144, 144);
    &:hover {
        background-image: linear-gradient(#f77dd4, #ab65fa);
        box-shadow: 0 5px 15px 0 rgb(78, 78, 78);
    }
}

.icon {
    margin-bottom: 0;
    &:hover {
        cursor: pointer;
    }
}

.fa-heart {
    margin-right: 7%;
    margin-top: 10px;
}

.far {
    font-size: 30px;
    position: absolute;
    &:hover {
        animation: far ease-in-out 2s forwards ;
    }

    }


   

    .fa {
    font-size: 30px;
        outline: 0; 
        background-image: linear-gradient(to top, $color-secondary 0%, $color-primary 100%); 
        background-clip: border-box;
        -webkit-background-clip: text;
        color: transparent;
    opacity: 0;
      

         &:hover {
         animation: fa ease-in-out 2s forwards ;
         }
        
    }


    // .fa:hover {
    //     opacity: 1;
    // }
    
