@mixin midflex {
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin flexcenter {
    display: flex;
    justify-content: center;
}


@mixin shadowbox {
    box-shadow: 0 5px 15px 0 #c3c3c3;
  }

@mixin shadowboxdarker {
    box-shadow: 0 5px 15px 0 #7a7a7a;
}