
.animation-1 {
    animation: block-disp1  ease-in-out;
    animation-delay: 1s;
}

.animation-2 {
    animation: block-disp2 ease-in-out ;
    animation-delay: 2s;
}

.animation-3 {
    animation: block-disp3 ease-in-out 4s;
    animation-delay: 4s;
}



.fade {
    animation: fade 3s linear; 
    }


//////////////////////  disp elements /////////////


.container-menu__element {
    animation: block-disp1 1s both; 
}


// @for $i from 1 to 9 {
//     .anim-#{$i} {
//      animation-delay: block-disp1 0.$is;
//      }
//    }




    //  .anim-1 {
    //     animation-delay: 0s;
    // }
    
    // .anim-2 {
    //     animation-delay: 0.2s;
    // }
    
    // .anim-3 {
    //     animation-delay: 0.4s;
    // }
    
    // .anim-4 {
    //     animation-delay: 0.6s;
    // }
    
    
    // .anim-5 {
    //     animation-delay: 0.8s;
    // }
    
    
    // .anim-6 {
    //     animation-delay: 1.0s;
    // }
    
    
    // .anim-7 {
    //     animation-delay: 1.2s;
    // }
    
    
    // .anim-8 {
    //     animation-delay: 1.4s;
    // }
    
    
    // .anim-9 {
    //     animation-delay: 1.6s;
    // }
    

    
    