
.animation-1 {
    animation: block-disp1  ease-in-out;
    animation-delay: 1s;
}

.animation-2 {
    animation: block-disp2 ease-in-out ;
    animation-delay: 2s;
}

.animation-3 {
    animation: block-disp3 ease-in-out 4s;
    animation-delay: 4s;
}



.fade {
    animation: fade 3s linear; 
    }


//////////////////////  disp elements /////////////


 .container-menu__element {
     animation: block-disp1 1s both; 
 }



 $anim-delay : 0.1s;

  @for $i from 1 through 10 {
      .anim-#{$i} {
          animation-delay: $anim-delay*$i;
    }
  }

