

.entete {
    width: 100%; 
    height: 63px;
    background-color: $colour-primary;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-arrow-left {
    margin-right: 87%;
}

.logo {
    position: absolute;

}

.fa-arrow-left {
    margin-left: 10px;
}
