
   .entete--accueil {
    position: relative;
    box-shadow: 0px -4px 15px grey;
}
 
.ville {
    font-weight: 600;
}
   
.textlocalisation {
    font-size: 1em;
  
}

   .rectangle:hover {
       background-color: #f5edff;
      .fa-fonctio {
         color: $colour-secondary;
      }
      
   }
   
   
   .resto-container__title {
        margin-top: 60px;
        font-size: 25px;
        font-weight: 750;
    }

      .resto-container {
        width: 100%;
        height: fit-content;
        margin-top: 70px;
        background-color: lightgray;
        display: flex;
        justify-content: center;
    }

    .resto-container__inside {
        width: 89.6%;
        height: fit-content;
        display: flex;
        flex-direction: column;
    
    }

    .resto-container__card {
        height: 252px;
    }

    .resto-container__new-tag {
        width: 80px;
        height: 29px;
        background-color: #99e2d0;
        color: #008766;
        @include midflex; 
        position: absolute;
        margin-right: 20%;
        margin-left: 65%;
        margin-top: 13px;
    }


.resto-container__img, #resto-container__img2  {
    width: 100%;
    object-fit: cover;
    height: 175px;
    border-radius: 20px 20px 0 0;
   
}






.resto-container__cards {
    height: fit-content;
    margin-bottom: 64px;
}

.resto-container__card {
    width: 100%;
    //height: 252px;
    background-color: white;
    margin-top: 18px;
    border-radius: 15px;
}

.card__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 13px 24px auto 14px;
   
    .inner-title {
        width: 75%;
        margin: 0;
        line-height: 1.4rem;
        flex-direction: column;
    }   
}




 