@keyframes fade {
      0% {
          opacity: 0.3;
     }
    
      90% { 
          opacity: 0.3;
      }

      100% {
        opacity: 1;
      }
  }


// @keyframes fadeIn {
//     from {
//       transform: translateY(30px);
//     }
  
//     to {
//       transform: translateY(0);
//     }
//   }

 @for $i from 1 to 15 {
    .container-menu__element-#{$i} {
     animation: fadeIn 0.4s * $i;
     }
   }




  @keyframes block-disp1  {
    from {
        transform: translateX(600px);
      }
    
      to {
        transform: translateX(0);
      }
    }


@keyframes block-disp2 {
  from {
      transform: scale(0);
    }
  
    to {
      transform: scale(1);
    }
  }





@keyframes block-disp3  {
  from {
      transform: scale(0);
    }
  
    to {
      transform: scale(1);
    }
  }






  @keyframes spinnerone {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1000deg)
    }
}

@keyframes spinnertwo {
    0% {
        transform: rotate(1000deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes spinnerthree {
    0% {
        transform:  rotate(0);
        
    }

    100% {
        transform: rotate(1000deg);
        
      
    }
}
